:root {
  --white: #ffffff;
  --black: #212121;
  --primary: #ffc107
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px; /* 1rem = 10px*/
}

.titulo {
  text-align: center;
  font-size: 3.8rem;
  color: var(--primary);
}

.titulo span {
  font-size: 2rem;
}